* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#website {
    display: grid;
    background: #F8F8F8;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 60px 600px repeat(3, 5fr) 120px;
    width: 100%;
    height: 2500px;
    margin: 0px auto;
}

.logo-icon img {
    width: 15%;
    max-width: 100%;
    margin-top: 2%;
    margin-left: 40%;
}

#website #logo1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#logo1 h2,
#logo3 h2 {
    text-align: center;
}

#logo2 h2 {
    text-align: center;
    margin-top: 2%;
}

#website #logo2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#website #logo3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

#menu {
    width: 100%;
    height: 100%;
    padding-right: 20px;
    grid-column: 1 / 6;
    grid-row: 2/3;
    background: #DFE4EA;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    margin-bottom: 0px;
    list-style: none;
    justify-content: center;
}

#menu a {
    color: #444;
    text-transform: uppercase;
    margin: 0px;
    padding: 15px;
    transition: all 300ms;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    transition: all 300ms;
}

#menu ul li a {
    text-decoration: none;
    color: black;
    transition: all 200ms;
}

#menu ul li a:hover {
    color: black;
    transform: scale(1.2, 1.2);
    border-bottom: 1px solid rgb(17, 17, 48);
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #777a8f;
}

#menu>ul>li>ul {
    display: none;
    position: absolute;
    text-align: left;
    width: 160px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
    z-index: 1;
}

#menu>ul>li:hover>ul {
    display: block;
    height: auto;
    margin-top: 15px;
}

#menu>ul>li:hover>ul>li {
    width: 100%;
    background: #DFE4EA;
    padding: 2px;
    line-height: 30px;
    font-size: 13px;
    transition: all 300ms;
}

#menu>ul>li:hover>ul>li>a {
    color: black;
}

#menu>ul>li:hover>ul>li:hover {
    box-shadow: 0px 0px 4px #ccc inset;
}

#demo {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3) inset, 0px 3px 7px rgba(0, 0, 0, 0.3) inset, 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#demo h3,
p {
    color: black;
}

#website #contenido1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/4;
    grid-row: 4/5;
    color: black;
    margin-top: 10px;
    font-size: 20px;
}

#website #contenido1 {
    background: #C6D1DC;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-top: 27px;
    margin-bottom: 30px;
}

#website #contenido1 .info1 {
    grid-column: 1/2;
    grid-row: 1/3;
    text-align: center;
}

#website #contenido1 .info2 {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: center;
}

.info1 p,
.info2 p {
    margin: 5px;
}

#lateral-contenido1 {
    grid-column: 4/6;
    grid-row: 4/5;
    background: #C6D1DC;
    text-align: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-top: 26px;
    margin-bottom: 30px;
}

#lateral-contenido1 #caja1 {
    width: 90%;
    height: 300px;
    margin: 20px;
    padding: 50px;
}

.bton {
    margin-top: 2%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
    background-color: #181D62;
    box-shadow: 1px 2px 6px gray inset;
}

.bton:hover {
    box-shadow: 1px 2px 4px gray inset;
    text-shadow: 0px 0px 1px #ccc;
}

.bton:active {
    box-shadow: 0px 0px 3px #444 inset;
    text-shadow: 0px 0px 1px #ccc;
}

.bton a {
    color: white;
    text-decoration: none;
}

.bton>a:hover {
    color: white;
    box-shadow: 0px 0px 3px #181D62;
    text-shadow: 0px 0px 1px #ccc;
    text-decoration: none;
}

#contenido1 h2 {
    text-align: center;
}

#website #contenido2 {
    display: grid;
    /* grid-template-rows: repeat(5, 1fr); */
}

#contenido2 article {
    text-align: center;
    grid-row: 5/7;
    /*  background: url('../img/5.jpg'); */
}

#contenido2 article img {
    width: 100%;
    max-width: 100%;
}

#contenido2 #text1 {
    /* width: 10%;
    margin-top: 133px;
    font-size: 29px;
    font-weight: normal;
    float: right;
    margin-right: 212px;
    text-shadow: 0px 0px 1px black;
    overflow: hidden;*/
    width: 10%;
    position: absolute;
    display: block;
    margin-top: 133px;
    font-size: 29px;
    font-weight: normal;
    text-shadow: 0px 0px 1px black;
    margin-left: 79%;
    animation: showText 10s infinite;
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#contenido3 {
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
}

#contenido3 article {
    text-align: center;
    grid-row: 6/9;
    /* background: url('../img/10.jpg'); */
}

#contenido3 article img {
    width: 100%;
    max-width: 100%;
}

#contenido3 #text2 {
    position: absolute;
    color: white;
    font-size: 30px;
}

#website #contenido2 {
    grid-column: 1/6;
    color: black;
}

#website #contenido3 {
    grid-column: 1/6;
    color: black;
}

#contenido1,
#contenido2,
#contenido3 {
    box-shadow: 0px 0px 4px gray;
    margin-bottom: 10px;
}

#lateral {
    grid-row: 5/6;
    grid-column: 5 / 6;
    background: green;
    display: grid;
}

#social {
    display: grid;
    background-color: #D7D7D7;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1/6;
    grid-row: 7/10;
}

#social .social-icon img {
    width: 15%;
    max-width: 100%;
    margin-top: 2%;
    margin-left: 40%;
}

#social h2 {
    text-align: center;
}

#social h3 {
    text-align: center;
}

#website #social #social1 {
    grid-column: 2/3;
}

#website #social #social2 {
    grid-column: 3/4;
}

#website #social #social3 {
    grid-column: 4/5;
}

#website #social #social4 {
    grid-column: 5/6;
}

#website #social #social5 {
    grid-column: 6/7;
}

#footer {
    height: 120px;
    background: black;
    text-align: center;
    color: white;
    grid-column: 1 / 6;
    grid-row: 10 / 11;
    border-top: 1px solid #444;
    line-height: 70px;
    font-size: 20px;
}
